<div class="footer" fxLayout="column" fxLayoutAlign="space-between start">
    <!-- <div class="body row" fxLayout="row"  fxLayoutAlign="space-between start">
      <div class="help-section col-md-6" fxLayout="column" fxLayoutAlign="space-between start">
        <div class="label">
          Need Help? Contact Support:
        </div>
        <div class="contacts">
          1-800-555-5555  |  companyname@brandmuscle.com
        </div>
      </div>
      <div class="logo col-md-6" style="text-align: right;">
        <img src="assets/images/bmlogo-white.png">
      </div>
    </div> -->
    <div class="legal row" fxLayout="row" fxLayoutAlign="center end" fxLayoutGap="14px">
        <div class="col-md-12" style="text-align: right;padding-top: 2%;">
            <div class="copyright">
                <a class="link" href="{{licenceurl}}" target="_blank">License Agreement</a> | <a class="link"  href="https://www.brandmuscle.com/legal/privacy-statement" target="_blank">Privacy Policy</a> 
                © 2008-{{currentyear}} Brandmuscle, Inc. All Rights Reserved
              </div>
              <div class="links" fxLayout="row" fxLayoutGap="5px">
               
              </div>
        </div>
      
    </div>
  </div>
  